$color-light-purple: #9575cd;
$color-medium-purple: #673ab7;
$color-dark-purple: #512da8;
$color-text-dark: #777777;
$color-white: #fff;
$color-black: #ccc;
$font-family-cursive: "Satisfy", cursive;
$font-family-serif: "Playfair Display", serif;
$font-family-sans: "Montserrat", sans-serif;
