.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-light-purple, 0.8),
      rgba($color-dark-purple, 0.8)
    ),
    url(../img/adventure.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);

  &__logo-container {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 8rem;
  }

  &__heading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
