body {
  font-family: $font-family-sans;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-text-dark;
  padding: 2rem;
}

.showcase-heading {
  color: $color-white;
  margin-bottom: 7.4rem;

  &--main {
    display: block;
    font-family: $font-family-serif;
    font-size: 7.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.4rem;
    /* animation */
    animation-name: moveInLeft;
    animation-duration: 2.3s;
  }

  &--sub {
    display: block;
    font-family: $font-family-cursive;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2rem;
    /* animation */
    animation-name: moveInRight;
    animation-duration: 2.3s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-light-purple,
    $color-dark-purple
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  &:hover {
    transform: skewY(1deg) skewX(1deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
